In [9]:
import pandas as pd
import sys
import glob

In [13]:
path = "C:/Users/Hermii/Desktop/Data Challenge 3/waterschap-aa-en-maas_sewage_2019/sewer_data/data_pump/RG8150/RG8150"
path2 = "C:/Users/Hermii/Desktop/Data Challenge 3/waterschap-aa-en-maas_sewage_2019/sewer_data/data_pump/RG8170/RG8170"

all_files = glob.glob(path + "/*.csv")

li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0, delimiter = ";")
    li.append(df)
    
comb50 = pd.concat(li, axis=0, ignore_index=True)
comb50["City.PumpType"], comb50["column_idk"], comb50["measurementType"] = comb50["Tagname"].str.split("/").str
comb50.drop(["Tagname"], inplace = True, axis=1)

#Saving to a separate csv only the file for pump RG8150
#comb50.to_csv("combined_csv50.csv")

all_files2 = glob.glob(path2 + "/*.csv")

li2 = []
for filename in all_files2:
    df = pd.read_csv(filename, index_col=None, header=0, delimiter = ";")
    li2.append(df)
    
comb70 = pd.concat(li2, axis=0, ignore_index=True)
comb70["City.PumpType"], comb70["column_idk"], comb70["measurementType"] = comb70["Tagname"].str.split("/").str
comb70.drop(["Tagname"], inplace = True, axis=1)


#comb70.to_csv("combined_csv70.csv")

both_pumps = pd.concat([comb50, comb70], axis=0, ignore_index=True)
#both_pumps.to_csv("both_pumps.csv")

,City.PumpType,Comments,DataQuality,PercentGood,TimeStamp,Value,column_idk,measurementType
0,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:00:05,"789,4701",FT510,Debietmeting.Q
1,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:00:10,"781,6238",FT510,Debietmeting.Q
2,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:00:15,"788,5692",FT510,Debietmeting.Q
3,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:00:20,"788,7045",FT510,Debietmeting.Q
4,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:00:25,"789,4104",FT510,Debietmeting.Q
5,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:00:30,"784,2054",FT510,Debietmeting.Q
6,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:00:35,"778,1519",FT510,Debietmeting.Q
7,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:00:40,"782,9906",FT510,Debietmeting.Q
8,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:00:45,"781,0588",FT510,Debietmeting.Q
9,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:00:50,"783,2368",FT510,Debietmeting.Q
10,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:00:55,"787,9411",FT510,Debietmeting.Q
11,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:01:00,"783,7855",FT510,Debietmeting.Q
12,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:01:05,"788,1645",FT510,Debietmeting.Q
13,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:01:10,"786,1697",FT510,Debietmeting.Q
14,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:01:15,"785,905",FT510,Debietmeting.Q
15,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:01:20,"791,1139",FT510,Debietmeting.Q
16,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:01:25,"787,8613",FT510,Debietmeting.Q
17,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:01:30,"793,5355",FT510,Debietmeting.Q
18,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:01:35,"780,9001",FT510,Debietmeting.Q
19,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:01:40,"784,9845",FT510,Debietmeting.Q
20,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:01:45,"784,238",FT510,Debietmeting.Q
21,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:01:50,"787,8541",FT510,Debietmeting.Q
22,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:01:55,"784,2905",FT510,Debietmeting.Q
23,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:02:00,"791,6619",FT510,Debietmeting.Q
24,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:02:05,"788,6771",FT510,Debietmeting.Q
25,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:02:10,"786,7703",FT510,Debietmeting.Q
26,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:02:15,"789,5132",FT510,Debietmeting.Q
27,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:02:20,"787,2251",FT510,Debietmeting.Q
28,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:02:25,"784,4945",FT510,Debietmeting.Q
29,GBS_DB.RG8150,NaN,Good,"100,0",1-1-2018 00:02:30,"783,2639",FT510,Debietmeting.Q
...,...,...,...,...,...,...,...,...
2764654,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:50:20,"-1,859331",LT610,Niveaumeting.Q
2764655,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:50:40,"-1,911705",LT610,Niveaumeting.Q
2764656,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:51:00,"-1,96986",LT610,Niveaumeting.Q
2764657,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:51:20,"-2,02744",LT610,Niveaumeting.Q
2764658,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:51:40,"-2,085571",LT610,Niveaumeting.Q
2764659,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:52:00,"-2,152141",LT610,Niveaumeting.Q
2764660,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:52:20,"-2,212883",LT610,Niveaumeting.Q
2764661,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:52:35,"-2,28782",LT610,Niveaumeting.Q
2764662,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:52:45,"-2,383274",LT610,Niveaumeting.Q
2764663,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:52:55,"-2,444355",LT610,Niveaumeting.Q
2764664,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:53:05,"-2,501963",LT610,Niveaumeting.Q
2764665,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:53:20,"-2,562726",LT610,Niveaumeting.Q
2764666,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:53:30,"-2,614753",LT610,Niveaumeting.Q
2764667,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:53:45,"-2,690037",LT610,Niveaumeting.Q
2764668,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:53:55,"-2,741827",LT610,Niveaumeting.Q
2764669,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:54:05,"-2,799672",LT610,Niveaumeting.Q
2764670,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:54:15,"-2,878078",LT610,Niveaumeting.Q
2764671,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:54:25,"-2,95933",LT610,Niveaumeting.Q
2764672,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:54:35,"-3,022487",LT610,Niveaumeting.Q
2764673,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:54:45,"-3,075096",LT610,Niveaumeting.Q
2764674,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:55:20,"-2,997648",LT610,Niveaumeting.Q
2764675,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:55:30,"-2,908211",LT610,Niveaumeting.Q
2764676,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:55:40,"-2,835349",LT610,Niveaumeting.Q
2764677,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:55:55,"-2,777136",LT610,Niveaumeting.Q
2764678,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:56:50,"-2,722157",LT610,Niveaumeting.Q
2764679,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:57:40,"-2,669555",LT610,Niveaumeting.Q
2764680,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:58:05,"-2,615103",LT610,Niveaumeting.Q
2764681,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:58:40,"-2,560389",LT610,Niveaumeting.Q
2764682,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:59:20,"-2,505149",LT610,Niveaumeting.Q
2764683,GBS_DB.RG8170,NaN,Good,"100,0",3-2-2019 23:59:55,"-2,453071",LT610,Niveaumeting.Q