In [48]:
import pandas as pd
import glob
pd.options.mode.chained_assignment = None

In [71]:


# PATHS

#Den Bosch flow
path = "../data/waterschap-aa-en-maas_sewage_2019/sewer_data/data_pump/RG8150/RG8150/"
path1 = "../data/waterschap-aa-en-maas_sewage_2019_db_pumps/sewer_data_db/data_wwtp_flow/RG1876_flow/"
path2 = "../data/waterschap-aa-en-maas_sewage_2019_db_pumps/sewer_data_db/data_wwtp_flow/RG1882_flow/"


#Bokhoven level
path3 = "../data/waterschap-aa-en-maas_sewage_2019/sewer_data/data_pump/RG8180_L0/"
#Bokhoven flow
path4 = "../data/waterschap-aa-en-maas_sewage_2019/sewer_data/data_pump/RG8180_Q0/"


#Haarsteeg level
path5 = "../data/waterschap-aa-en-maas_sewage_2019/sewer_data/data_pump/rg8170_N99/"
#Haarsteeg flow
path6 = "../data/waterschap-aa-en-maas_sewage_2019/sewer_data/data_pump/rg8170_99/"


#Helftheuvelweg level column 003 Helftheuvelweg *.csv
path7 = "../data/waterschap-aa-en-maas_sewage_2019_db/sewer_data_db/data_pump_level/"
#Helftheuvelweg flow 
path8 = "../data/waterschap-aa-en-maas_sewage_2019_db/sewer_data_db/data_pump_flow/1210FIT301_99/"


#Engelerschans level column “004 Engelerschans” *.csv
path9 = "../data/waterschap-aa-en-maas_sewage_2019_db/sewer_data_db/data_pump_level/"
#Engelerschans flow + Haarsteeg + Bokhoven, therefore substract for only Engeleschans
path10 = "../data/waterschap-aa-en-maas_sewage_2019_db/sewer_data_db/data_pump_flow/1210FIT201_99/"


#Maaspoort level Column: “006 Maaspoort” *.csv 
path11 = "../data/waterschap-aa-en-maas_sewage_2019_db/sewer_data_db/data_pump_level/"
#Maasport flow + Rompert
path12= "../data/waterschap-aa-en-maas_sewage_2019_db/sewer_data_db/data_pump_flow/1210FIT501_99/"


#Oude Engelenseweg level Column: “002 Oude Engelenseweg” *.csv
path13 = "../data/waterschap-aa-en-maas_sewage_2019_db/sewer_data_db/data_pump_level/"
#Oude Engelenseweg flow
path14 = "../data/waterschap-aa-en-maas_sewage_2019_db/sewer_data_db/data_pump_flow/1210FIT401_94/"


#De Rompert level Column: “005 de Rompert” *.csv
path15 = "../data/waterschap-aa-en-maas_sewage_2019_db/sewer_data_db/data_pump_level/"
#De Rompert flow + Maasport
path16 = "../data/waterschap-aa-en-maas_sewage_2019_db/sewer_data_db/data_pump_flow/1210FIT501_99/"

In [ ]:
#Reading and rendering (One liner example)
#Use for example this flow data and the below rain data for Haarsteeg to experiment with visualizations
#Haarsteeg

df = pd.concat([pd.read_csv(file) for file in glob.glob(path5)], ignore_index = True)

#df.to_csv(path5+"haarsteeg_l_comb.csv")

In [85]:
#Location linkage
path_linkinfo = "../data/waterschap-aa-en-maas_sewage_2019/sewer_model"
path_rain = "../data/waterschap-aa-en-maas_sewage_2019/sewer_data/rain_timeseries"

#Missing Engelerschans and RWZI Den Bosch linking streets inside the linking document(Someone revisit this please e.g @Roger)
#Another missing thing this time in the rainfall data itself are streets in "Hertogenbosch (Oude Engelenseweg)" and in "Hertogenbosch (Maaspoort)", if you want to
#see, plug "Hertogenbosch (Oude Engelenseweg)" or the other one in station_names to see exactly which streets are not in index
# THIS IS SOMETHING TO REPORT AS MISSING IN OUR DELIVERABLE!!!

station_names = ["Haarsteeg", "Bokhoven", "Hertogenbosch (Helftheuvelweg)", "Hertogenbosch (Rompert)"]
link = pd.read_csv(path_linkinfo+
                   "/20180717_dump riodat rioleringsdeelgebieden_matched_to_rainfall_locations.csv",
                   header = 9)

#Street names by stations
streets = [list(link[link["Naam kern"] == name]["Naam / lokatie"]) for name in station_names]

rain = pd.concat([pd.read_csv(file, header = 2) for file in glob.glob(path_rain+"/*.*")], ignore_index = True)

#All the rain for the streets for the pump stations in order of station_names and the streets per station
#can be found in streets nested list in the same order


all_areas = rain[["Begin", "Eind"] + [i for sl in streets for i in sl]]

In [91]:
all_areas2 = pd.DataFrame()

for i in range(len(station_names)):
    all_areas2[station_names[i]] = rain[streets[i]].sum(1)

all_areas2["Begin"] =  all_areas["Begin"]
all_areas2["End"] = all_areas["Eind"]

In [92]:
# The sum of the rain at all locations
all_areas2

,Haarsteeg,Bokhoven,Hertogenbosch (Helftheuvelweg),Hertogenbosch (Rompert),Begin,End
0,0.0000,0.0000,0.0000,0.0000,31-05-2018 22:00:00,31-05-2018 22:05:00
1,0.0000,0.0000,0.0000,0.0000,31-05-2018 22:05:00,31-05-2018 22:10:00
2,0.0000,0.0000,0.0000,0.0000,31-05-2018 22:10:00,31-05-2018 22:15:00
3,0.0000,0.0000,0.0000,0.0000,31-05-2018 22:15:00,31-05-2018 22:20:00
4,0.0000,0.0000,0.0000,0.0000,31-05-2018 22:20:00,31-05-2018 22:25:00
5,0.0000,0.0000,0.0000,0.0000,31-05-2018 22:25:00,31-05-2018 22:30:00
6,0.0000,0.0000,0.0000,0.0000,31-05-2018 22:30:00,31-05-2018 22:35:00
7,0.0000,0.0000,0.0000,0.0000,31-05-2018 22:35:00,31-05-2018 22:40:00
8,0.0000,0.0000,0.0000,0.0000,31-05-2018 22:40:00,31-05-2018 22:45:00
9,0.0000,0.0000,0.0000,0.0000,31-05-2018 22:45:00,31-05-2018 22:50:00
10,0.0000,0.0000,0.0000,0.0000,31-05-2018 22:50:00,31-05-2018 22:55:00
11,0.0000,0.0000,0.0000,0.0000,31-05-2018 22:55:00,31-05-2018 23:00:00
12,0.0000,0.0000,0.0000,0.0000,31-05-2018 23:00:00,31-05-2018 23:05:00
13,0.0000,0.0000,0.0000,0.0000,31-05-2018 23:05:00,31-05-2018 23:10:00
14,0.0000,0.0000,0.0000,0.0000,31-05-2018 23:10:00,31-05-2018 23:15:00
15,0.0000,0.0000,0.0000,0.0000,31-05-2018 23:15:00,31-05-2018 23:20:00
16,0.0000,0.0000,0.0000,0.0000,31-05-2018 23:20:00,31-05-2018 23:25:00
17,0.0000,0.0000,0.0000,0.0000,31-05-2018 23:25:00,31-05-2018 23:30:00
18,0.0000,0.0000,0.0000,0.0000,31-05-2018 23:30:00,31-05-2018 23:35:00
19,0.0000,0.0000,0.0000,0.0000,31-05-2018 23:35:00,31-05-2018 23:40:00
20,0.0000,0.0000,0.0000,0.0000,31-05-2018 23:40:00,31-05-2018 23:45:00
21,0.0000,0.0000,0.0000,0.0000,31-05-2018 23:45:00,31-05-2018 23:50:00
22,0.0000,0.0000,0.0000,0.0000,31-05-2018 23:50:00,31-05-2018 23:55:00
23,0.0000,0.0000,0.0000,0.0000,31-05-2018 23:55:00,01-06-2018 00:00:00
24,0.0000,0.0000,0.0000,0.0000,01-06-2018 00:00:00,01-06-2018 00:05:00
25,0.0000,0.0000,0.0000,0.0000,01-06-2018 00:05:00,01-06-2018 00:10:00
26,0.0000,0.0000,0.0000,0.0000,01-06-2018 00:10:00,01-06-2018 00:15:00
27,0.0000,0.0000,0.0000,0.0000,01-06-2018 00:15:00,01-06-2018 00:20:00
28,0.0000,0.0000,0.0000,0.0000,01-06-2018 00:20:00,01-06-2018 00:25:00
29,0.0000,0.0000,0.0000,0.0000,01-06-2018 00:25:00,01-06-2018 00:30:00
...,...,...,...,...,...,...
128072,0.0120,0.0202,0.0386,0.0100,13-08-2018 07:00:00,13-08-2018 08:00:00
128073,1.1960,0.6322,3.4955,0.3815,13-08-2018 08:00:00,13-08-2018 09:00:00
128074,0.0000,0.0000,0.0000,0.1540,13-08-2018 09:00:00,13-08-2018 10:00:00
128075,0.0000,0.0000,0.0000,0.0000,13-08-2018 10:00:00,13-08-2018 11:00:00
128076,0.7805,0.2990,0.0000,0.0000,13-08-2018 11:00:00,13-08-2018 12:00:00
128077,0.7639,0.5389,1.0587,0.0417,13-08-2018 12:00:00,13-08-2018 13:00:00
128078,4.8670,2.8296,6.3538,1.7063,13-08-2018 13:00:00,13-08-2018 14:00:00
128079,0.0897,0.0565,4.3717,1.0713,13-08-2018 14:00:00,13-08-2018 15:00:00
128080,0.0000,0.0000,0.0000,0.0000,13-08-2018 15:00:00,13-08-2018 16:00:00
128081,0.2044,0.0638,2.0380,0.0089,13-08-2018 16:00:00,13-08-2018 17:00:00
128082,0.0000,0.0000,0.4548,0.2108,13-08-2018 17:00:00,13-08-2018 18:00:00
128083,0.0000,0.0000,0.0000,0.0000,13-08-2018 18:00:00,13-08-2018 19:00:00
128084,0.0000,0.0000,0.0000,0.0000,13-08-2018 19:00:00,13-08-2018 20:00:00
128085,0.0000,0.0000,0.0000,0.0000,13-08-2018 20:00:00,13-08-2018 21:00:00
128086,0.0000,0.0000,0.0000,0.0000,13-08-2018 21:00:00,13-08-2018 22:00:00
128087,0.0000,0.0000,0.0000,0.0000,13-08-2018 22:00:00,13-08-2018 23:00:00
128088,0.0000,0.0000,0.0000,0.0000,13-08-2018 23:00:00,14-08-2018 00:00:00
128089,0.0000,0.0000,0.0000,0.0000,14-08-2018 00:00:00,14-08-2018 01:00:00
128090,0.0000,0.0000,0.0000,0.0000,14-08-2018 01:00:00,14-08-2018 02:00:00
128091,2.4049,0.0000,7.2073,0.7113,14-08-2018 02:00:00,14-08-2018 03:00:00
128092,0.0000,0.0000,0.0000,0.0000,14-08-2018 03:00:00,14-08-2018 04:00:00
128093,0.0000,0.0000,0.0000,0.0000,14-08-2018 04:00:00,14-08-2018 05:00:00
128094,0.0000,0.0000,0.0000,0.0000,14-08-2018 05:00:00,14-08-2018 06:00:00
128095,0.0000,0.0000,0.0000,0.0000,14-08-2018 06:00:00,14-08-2018 07:00:00
128096,0.0000,0.0000,0.0000,0.0000,14-08-2018 07:00:00,14-08-2018 08:00:00
128097,0.0000,0.0000,0.0000,0.0000,14-08-2018 08:00:00,14-08-2018 09:00:00
128098,0.0000,0.0000,0.0000,0.0000,14-08-2018 09:00:00,14-08-2018 10:00:00
128099,0.0000,0.0000,0.0000,0.0000,14-08-2018 10:00:00,14-08-2018 11:00:00
128100,0.0000,0.0000,0.0000,0.0000,14-08-2018 11:00:00,14-08-2018 12:00:00
128101,0.0000,0.0000,0.0000,0.0000,14-08-2018 12:00:00,14-08-2018 13:00:00