# Save this Notebook in the data_pump folder or change directory accordingly

In [1]:
import pandas as pd
import sys
import glob
import datetime
import time

In [2]:
comb70 = pd.read_csv("./RG8170/combined_csv70.csv")
comb50 = pd.read_csv("./RG8150/combined_csv50.csv")

# Transform time strings to datetime objects

In [7]:
start = time.time()
dates70 = list()
for date in range(comb70.shape[0]):
    dates70.append(datetime.datetime.strptime(comb70['TimeStamp'][date], '%d-%m-%Y %H:%M:%S'))
end = time.time()
print(end-start)

140.67778134346008

In [ ]:
start = time.time()
dates50 = list()
for date in range(comb50.shape[0]):
    dates50.append(datetime.datetime.strptime(comb70['TimeStamp'][date], '%d-%m-%Y %H:%M:%S'))
end = time.time()
print(end-start)

In [9]:
comb70['TimeDatetime'] = dates70
comb50['TimeDatetime'] = dates50

In [10]:
comb70.head()

,Unnamed: 0,Tagname,TimeStamp,Value,DataQuality,PercentGood,Comments,TimeDatetime
0,0,GBS_DB.RG8170/FT510/Debietmeting.Q,1-1-2018 00:00:05,"3604,701",Good,"100,0",NaN,2018-01-01 00:00:05
1,1,GBS_DB.RG8170/FT510/Debietmeting.Q,1-1-2018 00:00:10,"3577,001",Good,"100,0",NaN,2018-01-01 00:00:10
2,2,GBS_DB.RG8170/FT510/Debietmeting.Q,1-1-2018 00:00:15,"3586,489",Good,"100,0",NaN,2018-01-01 00:00:15
3,3,GBS_DB.RG8170/FT510/Debietmeting.Q,1-1-2018 00:00:20,"3629,318",Good,"100,0",NaN,2018-01-01 00:00:20
4,4,GBS_DB.RG8170/FT510/Debietmeting.Q,1-1-2018 00:00:25,"3650,753",Good,"100,0",NaN,2018-01-01 00:00:25

In [ ]:
comb50.head()